#bmi_div {
	width: 200px;
	margin: 0px auto;
	padding: 5px;
}
#bmi_div p{
	padding: 5px 0px;
}
.bmi_input input {
	padding: 5px 15px;
	border: 1px solid #CCC;
	font-family: "Courier New", Courier, monospace;
	text-align: right;
	width: 60px;
}
#bmi_result {
	color: blue;
	font-weight: bold;
}
.bmi_credits{
	font-family:lucida grande;
	color: #999;
	font-size: 10px;
	text-align: center;
	padding: 5px;
}
.bmi_credits a{
	font-family:courier new;
}